* {
  margin: 0;
  padding: 0;
}
body {
  font-family: JetBrains Mono;
}
.wrapper {
  display: flex;
  justify-content: center;
}
.header-wrapper {
  margin-top: 20px;
}
.fruit-wrapper {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
}
.fruit-wrapper img {
  height: 100px;
  max-width: 100%;
}
.fruit-wrapper div {
  margin-left: 52px;
  box-sizing: border-box;
}
.fruit-wrapper p {
  margin-top: 10px;
}
.barberry,
.chili,
.wrapper,
.saffron {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.txt {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: centers;
  width: 125px;
  font-size: 12px;
  margin-right: 52px;
}
