* {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.div-wrapper {
  background-color: skyblue;
  border: 5px solid blue;
  height: 500px;
  width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.small-box {
  background-color: rgb(224, 105, 105);
  width: 200px;
  text-align: center;
  align-content: center;
  height: 200px;
  border: 5px solid red;
}
