* {
  margin: 0;
  padding: 0;
}
body {
  font-family: JetBrains Mono;
}
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.header-wrapper {
  margin-top: 20px;
}
.fruit-wrapper {
  display: flex;
  margin-top: 32px;
  flex-wrap: wrap;
  gap: 52px;
}
.fruit-wrapper img {
  height: 100px;
  max-width: 100%;
}
.fruit-wrapper div {
  box-sizing: border-box;
  width: 200px;
}
.fruit-wrapper p {
  margin-top: 10px;
}
.fruit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.txt {
  display: flex;
  text-align: center;
}
.txt p {
  font-size: 13px;
}
